/* Redes Sociais */
.jssocials-shares{border-top:1px solid #eee;border-bottom:1px solid #eee;padding:8px 0}
.jssocials-shares p{font-size:12px;margin:11px 0 0 0;color:#444;font-weight:bold}
.jssocials-share{display:inline-block;vertical-align:top;margin:.3em .6em .3em 0}
.jssocials-share:last-child{margin-right:0}
.jssocials-share-logo{width:1em;vertical-align:middle;font-size:1.5em}
.jssocials-share-link{display:inline-block;text-align:center;text-decoration:none;line-height:1}
.jssocials-share-link.jssocials-share-link-count{padding-top:.2em}
.jssocials-share-link.jssocials-share-link-count .jssocials-share-count{display:block;font-size:.6em;margin:0 -.5em -.8em}
.jssocials-share-twitter .jssocials-share-link{background:#00aced}
.jssocials-share-twitter .jssocials-share-link:hover{background:#0087ba}
.jssocials-share-facebook .jssocials-share-link{background:#3b5998}
.jssocials-share-facebook .jssocials-share-link:hover{background:#2d4373}
.jssocials-share-googleplus .jssocials-share-link{background:#dd4b39}
.jssocials-share-googleplus .jssocials-share-link:hover{background:#c23321}
.jssocials-share-email .jssocials-share-link{background:#3490F3}
.jssocials-share-email .jssocials-share-link:hover{background:#0e76e6}
.jssocials-share-whatsapp .jssocials-share-link{background:#29a628}
.jssocials-share-whatsapp .jssocials-share-link:hover{background:#1f7d1e}
.jssocials-share-link{padding:.5em .6em;color:#fff;-webkit-transition:background 200ms ease-in-out,border-color 200ms ease-in-out;transition:background 200ms ease-in-out,border-color 200ms ease-in-out}
.jssocials-share-link:hover,.jssocials-share-link:focus,.jssocials-share-link:active{color:#fff}